<div id="education" class="card border-0">
  <div class="card-body">
    <h4 class="card-title">EDUCATION</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      BSc (Hons) Software Engineering 
      Manchester Metropolitan University
      Enterprise Programming, Data Engineering, 
      Information Systems Management, Advanced Multimedia
      Authoring and Design, Software Engineering Final Year 
      Project
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>