<div id="education" class="card">
  <div class="card-body">
    <h4 class="card-title">EDUCATION</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tellus vel nunc feugiat porta. Quisque nunc tellus,
      pulvinar quis nibh non, ullamcorper aliquam magna. Nunc sit amet nunc egestas metus egestas faucibus. Nullam at tristique
      turpis. Sed id diam eget tortor vehicula tincidunt et nec est. Donec enim nunc, maximus eget massa quis, hendrerit dapibus
      ligula. Nullam non vehicula lectus. In id posuere lacus. Aliquam pretium lacinia justo, id eleifend tortor faucibus non.
      Aliquam odio dolor, porttitor nec venenatis at, ultricies sed est. Donec vel congue sem. Aliquam eu enim enim. Cras vitae
      nibh lorem.
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>