<div id="references" class="card">
  <div class="card-body">
    <h4 class="card-title">REFERENCES</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      Quisque pellentesque tempor ante, id iaculis nisi molestie hendrerit. Nunc commodo tempus lacus, ullamcorper aliquet nisl
      dictum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent pellentesque
      dolor eget dignissim volutpat. Sed bibendum mattis eros eu ullamcorper. Maecenas faucibus feugiat nisi, at sollicitudin
      lacus venenatis non. Mauris tincidunt porttitor turpis suscipit aliquet. Etiam pellentesque interdum metus, vitae faucibus
      augue pulvinar sollicitudin.
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
