<div id="about" class="card">
  <div class="card-body">
    <h4 class="card-title">ABOUT ME</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      Name:    Craig McKay
      DOB:     23/06/1981
      Nationality: British
      Location:   4 Wenlock Close,
             Stockport,
             Cheshire,
             SK2 5XP
      Experience : 12 Years 
      Availability: Full-time
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>