<div id="skills" class="card">
  <div class="card-body">
    <h4 class="card-title">SKILLS + EXPERTISE</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      Curabitur sollicitudin sapien at mi mollis vestibulum. Aliquam feugiat accumsan odio ac placerat. Orci varius natoque penatibus
      et magnis dis parturient montes, nascetur ridiculus mus. Fusce metus lorem, rutrum non faucibus id, aliquet sit amet
      ipsum. Vestibulum tincidunt elementum nibh eu elementum. Donec et velit vel erat semper semper. Sed dictum mollis lorem,
      ut fringilla purus placerat in. Ut sed egestas ante, vel ultrices purus. Phasellus rhoncus nisi eget dui consequat, ac
      vestibulum dui auctor. Proin posuere id tortor sed vulputate. Vestibulum erat risus, mattis eu mi vitae, pharetra vulputate
      leo. Curabitur rutrum risus dignissim eleifend fringilla. Aliquam consectetur libero id risus tristique ultricies. Fusce
      ut ornare enim.
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
