<div id="skills" class="card">
  <div class="card-body">
    <h4 class="card-title">SKILLS + EXPERTISE</h4>
    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
    <p class="card-text">
      Software:
      Full Microsoft Tech Stack, Azure, Visual Studio 
      2015, Angular.js, jQuery, Bootstrap, HTML5, 
      CSS3, RWD, OOP, SOLID, Design Patterns, TDD, 
      nUnit, MSTest, Moq, XML, Photoshop, VMWare,  
      VirtualBox, Git, Mercurial, TFS, Atlassian Tools, 
      SQL Server 2015, EPiServer CMS, Umbraco, 
      SSRS,  SSIS

      Testing:
      WebDriver,  Selenium Grid,  PhantomJS, 
      Jenkins,  BDD, SpecFlow,  Cucumber,  Gherkin
    </p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>
