<div id="workExperience" class="card">
  <div class="card-body">
    <h4 class="card-title">WORK EXPERIENCE</h4>

    <div class="card-text">

      <h6>2014- Present</h6>
      <h6>WATERS CORPORATION</h6>
      <h6>Senior Software Developer In Test</h6>

      Developing and Designing Automation Testing Framework for Quality Assurance as a member of the Instrument Control department.
      <br>Using modern test automation tools such as Selenium and Windows UI Automation to test new features and develop a regression
      suites allowing for Continuous Integration. Gathering re- quirements from internal and external customers for new features.
      Liasing with Manual Testers and Developers to design testing strategies for Mass Spectrometry and Liquid Chromatography
      Instruments.
      <br> Other responsibilities included managing tasks for new members of staff and member of overseas teams.
      <h6>Achievements:</h6>
      <ul>
        <li>ISEB Trained Software Tester</li>
        <li>Refactored Test Automation Framework to enable it to be configurable for running regression suite on multiple instruments.</li>
        <li>Implemented headless testing environment using PhantomJS providing Developers with ability to run automation test as part of pre-commit hook.</li>
        <li>Reduced time taken for regression suite to complete from 7hrs to 3hrs.</li>
        <li>Refactored Test Automation Framework using Design Patterns, making its unit testable</li>
      </ul>

    </div>

    <div class="card-text">

      <h6>2013 - 2014</h6>
      <h6>WEBUYANYCAR.COM</h6>
      <h6>Senior Software Developer</h6>

      Working Working closely with the Marketing department to develop and maintain content for webuyanycar.com website and reöning
      key business processes using MVC, HTML5, CSS3, jQuery ansd WebAPI. Developing applications for while working on multiple
      projects for Finance, Operations and Retail departments. All development encouraged the use of best practices, code
      analysis, peer reviews, unit testing and refactoring in order to maintain code quality.
      <br>
      <h6>Achievements:</h6>
      <ul>
        <li>Design and Development of webuyanycar.com website for the Marketing Department.</li>
        <li>EpiServer CMS Integration for webuyanycar.com for the Markteting Department.</li>
        <li>Design and Development of application to replace the paper-based business process of processing customer pay ments
          for the Finance Department.</li>
        <li>Design and Development of administration application for Operations Department.</li>
        <li>Added functionality to enable customer documents to be scanned by Vehicle Purchasers as part of the customer journey.</li>
        <li>Console application to automate business process for preparing Marketing Department for Weekly email campaign.</li>
        <li>UKCGR Auctioning website, used to provide data that could later be used by the Retail Department using Data Mining
          techniques.
        </li>
      </ul>

    </div>

    <div class="card-text">

      <h6>2009 - 2013</h6>
      <h6>MICRO LIBRARIAN SYSTEMS LTD</h6>
      <h6>Software Developer</h6>

      Developing Developing and maintaining library asset management application as a member of the Software Development team.
      Undergoing several migrations from .NET 3.5 to Silverlight and eventually to MVC. Conversion of reports from Crystal
      to SQL Reporting Services. Replaced ASMX with WCF services from SQL Server back-end , then eventually to allowing access
      to Azure BLOB storage via WEBAPI. iOS, WP7, mobile development of MLS applications providing users with key functions
      of desktop applications. Additional responsibilities included creating and running test scripts for the Quality Assurance
      and Testing teams to assist with functionality and regressions testing, allowing for Continuous Integration into TFS
      build environment.
    </div>

    <div class="card-text">

      <h6>2007 - 2009</h6>
      <h6>PENINISULA BUSINESS SERVICES LTD</h6>
      <h6>Systems Developer</h6>

      Developing and maintaining BusinessWise customer portal as part of the Software Development team.
    </div>

    <div class="card-text">

      <h6>2004 - 2005</h6>
      <h6>VIGLEN</h6>
      <h6>Trainee Software Developer</h6>

      Full-time job situated at Viglen HQ in London as part of my Industrial Placement
    </div>

    <div class="card-text">

      <h6>1998 - 2000</h6>
      <h6>VIGLEN</h6>
      <h6>Systems Build Technician</h6>

      Full-time work, while attending college for one day a week as part of a modern apprenticeship.
    </div>

  </div>
</div>