/* You can add global styles to this file, and also import other style files */
.highlight {
    color: #66EAE2;
}

.card {
    font-family: 'Lucida Sans';
}

div.time-line-date {
    border-right: 1px solid black; 
    text-align: right;   
}

hr {
    border: 0.5px solid black;
}


